.app .container .code{
    width: 78.5%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.app .container .code__container{
    width: 100%;
}

.app .container .code__container .code--border{
    height: 304px;
}

.app .container .code__container .code__wrapper{
    border-radius: var(--border-radius);
    position: relative;
    z-index: 1;
    margin-bottom: -6px;
}

.app .container .code__container .code__wrapper code{
    height: 240px;
}

.app .container .code__container .code__sections{
    background: var(--bg-sections-opacity-color);
    padding: 30px 24px;
    z-index: -1;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    color:var(--branco);
    font-family: var(--font-family);
}

.app .container .code__container .code__sections .code__sections__info h2{
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
}

.app .container .code__container .code__sections .code__sections__info p{
    line-height: 24px;
    margin-top: 8px;
}

.app .container .code__container .code__sections .code__sections__social{
    display: flex;
    justify-content: space-between;
    margin-top: 35.25px;
}

.app .container .code__container .code__sections .code__sections__social span{
    font-size: 16px;
    line-height: 24px;
}

.app .container .code__container .code__sections .code__sections__social__interactions{
    display: flex;
    gap: 18px;
}

.app .container .code__container .code__sections .code__sections__social__interactions .code__sections__social__interactions__comments,
.app .container .code__container .code__sections .code__sections__social__interactions .code__sections__social__interactions__like{
    display: flex;
    align-items: center;
    gap: 10px;
}

.app .container .code__container .code__sections .code__sections__social__profile{
    display: flex;
    align-items: center;
    gap: 8px;
}

