@media screen and (max-width: 600px){
    #app{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #app header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }

    #app header .logo{
        width: 50%;
    }

    #app header .burger-menu{
        position: absolute;
        right: 1em;
    }

    #app header .search-box{
        display: none;
    }

    #app header .search-icon{
        display: flex;
        position: absolute;
        margin-right: 36px;
        right: 3em;
        
    }

    #app .container .menu__responsive{
        right: 15px;
        width: 60%;
    }

    #app .container{
        width: 100%;
        flex-direction: column;
        margin: 58px 0;
                
    }

    #app .container .code{
        
        width: 100%;
    }

    #app .container form{
        width: 100%;
        
    }

    #app .container form .customization .customization__options{
        display: flex;
        flex-direction: column;
    }

    #app .container form .customization .customization__options #color input{
        width: 97%;
    }
}