@media screen and (max-width: 800px){
    
#app .container #code{
        width: 100%;
        display: flex;
        flex-direction: column;
        
        
        grid-template-columns: 0;
        gap: 24px;
    }

    .menu__responsive{
        z-index: 100;
    }
}