@media screen and (max-width: 660px){
    .code{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .app header .search-box{
        display: none;
    }

    .app header .search-icon{
        width: 5%;
        display: flex;
        justify-content: flex-end;
        margin-right: 36px;   
    }

}