.app .container form{
    width: 20%;
    display: flex;
    flex-direction: column;
    color: var(--branco);
}

.app .container form .project h2,
.app .container form .customization h2{
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.app .container form .project input,
.app .container form .customization select{
    height: 56px;
    width: 100%;
    margin-top: 1rem;
    padding: 14px 16px;
    background: var(--bg-opacity);
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
    line-height: 24px;
    color: var(--branco);
}

.app .container form .customization{
    margin-top: 40px;
}

.app .container form .customization select{
    appearance: none;
    background-image: url('../../img/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: 95.15% 50%;
}

.app .container form .customization select option{
    background-color: var(--bg);
}

.app .container form .customization #color{
    width: 100%;
    height: 56px;
    margin-top: 1rem;
    border-radius: var(--border-radius);

    border: 1px solid var(--border-color);
}

.app .container form .customization #color input{
    width: 94%;
    border: none;
    height: 40px;
    appearance: none;
    margin: 8px;
    border-radius: 4px;
}

.app .container form [type="submit"]{
    width: 100%;
    height: 56px;
    margin-top: 32px;
    background-color: var(--submit-button-color);
    color: var(--bg);
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}