.app header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app header .logo{
    width: 20%;
}

.app header .search-box{
    width: 55%;
    height: 56px;
    border: 0;
    border-radius: var(--border-radius);
    background-color: var(--bg-opacity);
    color: var(--branco);
    padding: 14px 16px;
    font-size: 1rem;
    line-height: 24px;
}

.app header .search-box:hover{
    background: var(--color-hover);
}

.app header .profile-image{
    width: 22%;
    height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app header .profile-image span{
    margin-left: 12px;
    color: var(--branco);
    font-size: 1rem;
    line-height: 24px;
}

.app header .burger-menu{
    display: none;
}