.app .container main{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.app .container main .border{
    width: 100%;
    height: 366px;
    background-color: var(--border-textarea);
    padding: 2rem;
    border-radius: var(--border-radius);
}

.app .container main .border textarea{
    width: 100%;
    height: 302px;
    resize: none;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--bg-textarea);
    background-image: url('../../img/icons/mac_buttons.svg');
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
    padding: 3.25rem 1rem;
    color: var(--branco);
    font-size: 14px;
    line-height: 18px;
}

.app .container main button{
    height: 56px;
    margin-top: 32px;
    background-color: var(--button-color);
    border-radius: var(--border-radius);
    border: none;
    font-size: 1rem;
    line-height: 24px;
    color: var(--branco);
    text-align: center;
}