.app .container nav{
    width: 18%;
    color: var(--branco);
}

.app .container nav h2{
    height: 18px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.app .container nav .menu{
    list-style: none;    
}

.app .container nav .menu .menu__item{
    display: flex;
    margin-top: 16px;
}

.app .container nav .menu .menu__item p,
.app .container nav .menu .menu__item .menu__icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.app .container nav .menu .menu__item .menu__icon{
    width: 3rem;
    height: 3rem;
    background-color: var(--icon-bg);
    border-radius: var(--border-radius);
    margin-right: 1rem;
}

.app .container nav .menu .menu__item--disabled{
    opacity: 16%;
}

.app .container nav .menu .menu__item--disabled:hover{
    opacity: 64%;
}
