.container .right{
    font-size: 12px;
    line-height: 18px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    
}

.container .right form{
    display: flex;
    flex-direction: column;
}

.container .right form .project,
.container .right form .customization{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .right form .customization{
    margin-top: 40px;
}

.container .right form .project input,
.container .right form .customization select{
    height: 56px;
    width: 272px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    border: 0;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.16);
    color: #FFF;
    padding: 14px 16px;
}

.container .right form .project .project__description{
    height: 80px;
}

.container .right form .customization select{
    appearance: none;    
    background-image: url('../img/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: 95.15% 50%;
}

.container .right form .customization select option{
    background-color: #051D3B;
}

.container .right form .customization #color{
    width: 272px;
    height: 56px;
    margin-top: 16px;
    border-radius: 8px;

    border: 1px solid #C4C4C4;
}

.container .right form .customization #color input{
    width: 256px;
    height: 40px;
    appearance: none;
    margin: 8px;
    border-radius: 4px;
}

.container .right form [type="submit"]{
    width: 272px;
    height: 56px;
    margin-top: 32px;
    background-color: #5081FB;
    color: #051D3B;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}